body {
    overflow-x: hidden;
}
.nav-container {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: grey;
    height: 80px;
}

.nav h3 {
    font-size: vw;
    margin-left: 3vw;
    background-color: grey;
    
}

.register {
    display: flex;
    justify-content: end;
    width: 70%;
}

.register button {
    height: 6vh;
    width: 6vw;
    border-radius: 50px;
    margin-right: 3vw;
}

